<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>api</display-name>
 <servlet>
  <display-name>Oemath API</display-name>
  <servlet-name>OemathApi</servlet-name>
  <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  <init-param>
   <param-name>com.sun.jersey.config.property.packages</param-name>
   <param-value>com.oemath.resource</param-value>
  </init-param>
 </servlet>
 <servlet>
  <display-name>Raw Servlet</display-name>
  <servlet-name>RawServlet</servlet-name>
  <servlet-class>com.oemath.resource2.RawHandler</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>OemathApi</servlet-name>
  <url-pattern>/api/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RawServlet</servlet-name>
  <url-pattern>/raw/*</url-pattern>
 </servlet-mapping>
</web-app>
