.oemath-problem-image {
    position: relative;
    margin: auto;
}
.oemath-input-image {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 20px;
}

.oemath-inline-input {
    position: relative;
    width: 30px;
    text-align: center;
    background-color: transparent;
    color: blue;
}




.oemath-svg {
    position: relative;
    margin: 0 auto;
}


.oemath-svg{
    stroke-width: 1;
    fill: white;
    stroke: black;
}

.oemath-svg-fillnone{
    stroke-width: 1;
    fill: none;
    stroke: black;
}

.oemath-svg-w3-fillnone-black{
    stroke-width: 3;
    fill: none;
    stroke: black;
}

.oemath-svg-w3-fillwhite-black{
    stroke-width: 3;
    fill: white;
    stroke: black;
}
