.oemath-font-monospace {
	font-family: monospace;
}

.oemath-problem-text {
	color: rgb(80,224,50);
}

.oemath-problem-area {
	width: 90%;
	margin: 0 5% 0 5%;
}

.oemath-answer-text {
	color: rgb(80,224,50);
}

.oemath-answer-input {
	width: 200px;
	margin: 0 5% 0 5%;
}

.oemath-problem-image {
    position: relative;
    margin: auto;
}
.oemath-svg-input {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 20px;
}

.oemath-inline-input {
    position: relative;
    font-family: Verdana;
    width: 28px;
    height: 36px;
    text-align: center;
    border: 1px solid #A7A6AA;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: blue;
    font-size: 28px;
    text-align: middle;
    box-sizing: content-box;    
}


.oemath-svg-svg{
    display: block;
    margin: auto;
    position: relative;	
}

.oemath-svg{
    position: relative;
    margin: 0 auto;
    stroke-linecap: round;
}

.oemath-svg-text{
    font-size: 17;
    font-family: Verdana;
    text-anchor: middle;
    alignment-baseline: hanging; 
    fill: black;
}



/************************
 vertical styles
 ************************/

.oemath-svg-vertical{
    position: relative;
    font-size: 28px;
    font-family: Verdana;
    text-anchor: middle;
    alignment-baseline: hanging; 
    fill: black;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.oemath-svg-vertical line,path{
    stroke: black;
    stroke-width: 1;
    stroke-linecap: square;
    fill: none;
}

.oemath-svg-vertical input{
    position: absolute;
    font-family: Verdana;
    width: 28px;
    height: 36px;
    text-align: center;
    border: 1px solid #A7A6AA;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: blue;
    font-size: 28px;
    text-align: middle;
    box-sizing: content-box;    
}

.oemath-svg-vertical input[readonly]{
    border: 0;
    color: black;
}

